#
# Minimal setup for one bot. See doc/sample.cfg for more complex
# setups.
%debug 2

%set maintainer "H_I!parmenti@*.loria.fr"

%listset 	BotList
%with 	BotList
      	userlist 	"user.list"
      	protlist 	"prot.list"
      	shitlist 	"shit.list"
	rellist		"rel.list"

%create Achille
%with 	Achille
     	nick 		"Achille"
     	name 		"/msg Achille help"
     	login 		"Achille"
#	channel		"#billard"
#	channel		"#loria"
	channel		"#marquise"
	channel		"#lyceen"
#			 NTM  (.chattr -o NTM #reunion)
	channel		"#artbas"
#			 TH2A
#	channel		"#psk"
#	channel		"#esprit"
	channel		"#nation"
#			 NoiZer (?)
#			 Blair demande a arreter le canal
	channel		"#reunion"
#			 HoCuS
#			 Thorus
#			 Lours
#	channel		"#anous"
##               Raph a dit de l'enlever, mais Suzzanne dit que Bill l'utilise
#	channel		"#pcfun"
#			Les gens de PC Fun
#    channel		"#dvd"
#				Rapidoooo!*Rapido@*.abo.wanadoo.fr
#				Sirus
#				[SpherE]
#	channel		"#moto"
#			 tifrere
	channel		"#mia"
#	channel		"#psxfr"
#               Indiana
	channel		"#alger"
#	channel		"#djazair"
#                        del_piero*!*azouzi@*.inrets.fr
#			 twoPAC*!*mzakaria@*.inria.fr
#			 zoheir*!*zoheir@138.195.*
#			 zoheir*!*zoheir@*mss.ecp.fr
#			 Kader (a la demande de Intifada, confirme par twoPAC)
#			 Nado*!*nadir@*.nag.co.uk (confirm: twoPAC)
#                        NTM ne doit pas s'y opper
#	channel		"#jenkulthx"
	channel		"#la-bas"
#	channel		"#metz"
    	channel 	"#nancy"
	server		"irc.insat.com"
	server		"salambo.enserb.u-bordeaux.fr"
#	server		"Cismhp.univ-lyon1.fr", 6666
	server		"sil.polytechnique.fr"
#	server		"irc.eurecom.fr"
#	server		"irc.enst.fr"
	server		"irc.emn.fr"
	server		"irc.grolier.net"
#	server		"irc.funet.fi"
	server		"irc.twiny.net"
	stim		"Citations.stim"
	reps		"Citations.reps"
	botslist	"bot.list"
     	index 		"INDEX"
     	download 	"/dev/null"
     	upload 		"/dev/null"
     	listset 	BotList


#%listset	ANPEList
#%with	ANPEList
#	userlist	"user.anpe"
#	shitlist	"shit.anpe"
#	protlist	"prot.anpe"
#	rellist	"rel.anpe"
#	
#%create ANPE
#%with	ANPE
#	nick		"ANPE"
#	name		"/msg ANPE help"
#	login		"anpe"
#	server		"irc.insat.com"
#	server		"salambo.enserb.u-bordeaux.fr"
#	server		"sil.polytechnique.fr"
#	server		"irc.emn.fr"
#	channel		"#anpe"
#			kolius
#	channel		"#toulon"
##			kolius
#	channel		"#travail"
##			kolius
#	channel		"#emploi"
##			kolius
#	channel		"#infonie3"
##			 Victoria*!*victoria08@*.infonie.fr
#	channel		"#psx-fr"
##               Scott
##			 Schmuck*!*sockd@*.utbm.fr
##			 Dr_Ed*!*Dr_Ed@*.abo.wanadoo.fr
##			 ThorII*!*grincheux@*.mgn.fr
##			 TvM ?
##	stim		"stim.anpe"
##	reps		"reps.anpe"
#	botslist	"bot.anpe"
#	download	"/dev/null"
#	upload		"/dev/null"
#	listset		ANPEList

#%listset	SuprBotList
#%with	SuprBotList
#	userlist	"user.sb"
#	shitlist	"shit.sb"
#	protlist	"prot.sb"
#	rellist		"rel.sb"
#	
#%create SuprBot
#%with	SuprBot
#	nick		"SuprBot"
#	name		"Un gentil bot"
#	login		"suprbot"
#	server		"irc.insat.com"
#	server		"salambo.enserb.u-bordeaux.fr"
#	server		"sil.polytechnique.fr"
#	server		"irc.emn.fr"
## channels differents de ceux d'Achille!
#	channel		"#sensas"
##			 NTM!arcade@*.oceanes.fr
#	channel		"#z"
##			 NTM
##	stim		"stim.sb"
##	reps		"reps.sb"
#	botslist	"bot.sb"
#	download	"/dev/null"
#	upload		"/dev/null"
#	listset		SuprBotList